defaults/flows.json
[{"id":"5be5b31e.521edc","type":"http in","z":"c674f54e.068ff8","name":"","url":"/mapstations","method":"get","x":350,"y":160,"wires":[["712fb55e.ceffcc"]]},{"id":"1ac82aa5.bc5ec5","type":"http response","z":"c674f54e.068ff8","name":"","x":699,"y":157,"wires":[]},{"id":"c4c7e70c.0ff458","type":"http request","z":"c674f54e.068ff8","name":"","method":"GET","url":"https://sheets.googleapis.com/v4/spreadsheets/1pUDtKQixVTK8Ng-sAgWhhaF-tVtqg58cw6h2vaUQOgY/values/Sheet1!E4:E?key=AIzaSyCaXftPMl1DjqDydMs5_ZtMSAEwYpIcDdU","tls":"","x":350,"y":260,"wires":[["984733ce.ebe84"]]},{"id":"712fb55e.ceffcc","type":"template","z":"c674f54e.068ff8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>Popups</title>\n    <link href=\"https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.css\" rel=\"stylesheet\" type=\"text/css\"/>\n    <style type=\"text/css\">\n        body {\n            margin: 0;\n        }\n        #map {\n            width: 100vw;\n            height: 100vh;\n        }\n    </style>\n</head>\n<body>\n\n<div id='map'></div>\n<script type=\"text/javascript\" src=\"https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet.js\"></script>\n<script type=\"text/javascript\" src=\"https://tiles.unwiredmaps.com/js/leaflet-unwired.js\"></script>\n<script type=\"text/javascript\">\n    // Maps access token goes here\n    var key = 'pk.61e5a3e20465c08cda6a0e4775f2786b';\n\n    // Add layers that we need to the map\n    var streets = L.tileLayer.Unwired({key: key, scheme: \"streets\"});\n\n    // Initialize the map\n    var map = L.map('map', {\n        center: [45.8932,1.5696], // Map loads with this location as center\n        zoom: 14,\n        scrollWheelZoom: false,\n        layers: [streets] // Show 'streets' by default\n    });\n\n    // Add the 'scale' control\n    L.control.scale().addTo(map);\n\n    // Add the 'layers' control\n    L.control.layers({\n        \"Streets\": streets\n    }).addTo(map);\n\n\n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var stationData = JSON.parse(evt.data);\n\t\t    console.log(stationData)\n\t\t   // var stations = stationData.root.stations[0].station;\n\t\t\t//for(var i = 0; i < stations.length; i++) {\n\t\t\t // var station = stations[i];\n             // Add a 'marker'\n             \n            var marker = L.marker([stationData.lat,stationData.lon])\n            .addTo(map)\n            .bindPopup(stationData.display_name)\n            .openPopup();\n\t\t\t  \n\t\t//\t}\n\t\t  };\n\t\n    \n  \n\n</script>\n</body>\n</html>","x":530,"y":160,"wires":[["1ac82aa5.bc5ec5"]]},{"id":"f7359885.c3ead8","type":"websocket in","z":"c674f54e.068ff8","name":"","server":"13462e83.7a5c71","x":160,"y":260,"wires":[["c4c7e70c.0ff458"]]},{"id":"e40360c4.4e18f","type":"websocket out","z":"c674f54e.068ff8","name":"","server":"13462e83.7a5c71","x":841,"y":252,"wires":[]},{"id":"9b067b10.c60f68","type":"debug","z":"c674f54e.068ff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":420,"wires":[]},{"id":"984733ce.ebe84","type":"json","z":"c674f54e.068ff8","name":"","property":"payload","action":"","pretty":false,"x":510,"y":260,"wires":[["e40360c4.4e18f","3f002479.43da1c"]]},{"id":"3f002479.43da1c","type":"function","z":"c674f54e.068ff8","name":"","func":"places = [];\nfor (i=0;i<msg.payload.values.length;i++){\n    places.push({payload:msg.payload.values[i][0].trim()})\n}\nreturn [places];","outputs":1,"noerr":0,"x":590,"y":320,"wires":[["50653f03.0a39a"]]},{"id":"ee483c92.30a8d","type":"http request","z":"c674f54e.068ff8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":680,"y":400,"wires":[["cef38963.67f588"]]},{"id":"50653f03.0a39a","type":"function","z":"c674f54e.068ff8","name":"","func":"baseurl=\"https://us1.locationiq.com/v1/search.php?key=pk.61e5a3e20465c08cda6a0e4775f2786b&q=\";\nendurl=\",France&format=json\";\nmsg.url=baseurl+encodeURI(msg.payload)+endurl;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":320,"wires":[["a6972831.ce5218"]]},{"id":"a6972831.ce5218","type":"delay","z":"c674f54e.068ff8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":400,"wires":[["ee483c92.30a8d"]]},{"id":"d9ffea5e.410c88","type":"function","z":"c674f54e.068ff8","name":"","func":"station = {};\nstation.display_name = msg.payload[0].display_name\nstation.lat = msg.payload[0].lat;\nstation.lon = msg.payload[0].lon;\nmsg.payload = station;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":380,"wires":[["9b067b10.c60f68","e40360c4.4e18f"]]},{"id":"cef38963.67f588","type":"json","z":"c674f54e.068ff8","name":"","property":"payload","action":"","pretty":false,"x":820,"y":500,"wires":[["d9ffea5e.410c88"]]},{"id":"54411303.cf409c","type":"template","z":"c674f54e.068ff8","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>French Houses</title>\n    <style>\n      html, body, #map-canvas {\n        height: 100%;\n        margin: 0px;\n        padding: 0px\n      }\n    </style>\n    <script src=\"https://maps.googleapis.com/maps/api/js?key=AIzaSyCo28C_h9pvbkRjbMCk2Ijbkzf_y33n7Hk\"></script>\n    <script>\n\t\tfunction initialize() {\n\t\t  var myLatlng = new google.maps.LatLng(45.8932,1.5696);\n\t\t  var mapOptions = {\n\t\t    zoom: 10,\n\t\t    center: myLatlng\n\t\t  };\n\t\t  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);\n\t\t  \n\t\t  var loc = window.location;\n          if (loc.protocol === \"https:\") {\n            newUri = \"wss:\";\n          } else {\n            newUri = \"ws:\";\n          }\n          newUri += \"//\" + loc.host + \"/ws/stations\";\n\t\t  \n\t\t  \n\t\t  var sock = new WebSocket(newUri);\n\t\t  sock.onopen = function(){ \n\t\t    console.log(\"Connected websocket\");\n\t\t    console.log(\"Sending ping..\");\n\t\t\tsock.send(\"Ping!\");\n\t\t    console.log(\"Ping sent..\");\n\t\t  };\n\t\t  sock.onerror = function(){ console.log(\"Websocket error\"); };\n\t\t  sock.onmessage = function(evt){\n\t\t    var stationData = JSON.parse(evt.data);\n\t\t   // var stations = stationData.root.stations[0].station;\n\t\t\t//for(var i = 0; i < stations.length; i++) {\n\t\t\t // var station = stations[i];\n              var marker = new google.maps.Marker({\n\t\t\t    position: new google.maps.LatLng(stationData.lat,stationData.lon),\n\t\t\t    map: map,\n\t\t\t    animation: google.maps.Animation.DROP,\n\t\t\t    title: stationData.name\n\t\t\t  });\n\t\t\t  \n\t\t//\t}\n\t\t  };\n\t\t};\n\t\t\n\t\tgoogle.maps.event.addDomListener(window, 'load', initialize);\n\n    </script>\n  </head>\n  <body>\n    <div id=\"map-canvas\"></div>\n  </body>\n</html>","x":510,"y":60,"wires":[[]]},{"id":"13462e83.7a5c71","type":"websocket-listener","path":"/ws/stations","wholemsg":"false"}]
